$Open__sans: 'Open Sans', sans-serif;

$black: #363636;
$black1: #0f0f0f;
$black2: #111111;
$gray: #7e8082;
$gray1: #838484;
$gray2: #515253;
$gray3: #767778;
$gray4: #454647;
$gray5: #a7a7a7;
$gray6: #5e5f60;
$gray7: #a0a0a0;
$gray8: #f0f3f8;
$gray9: #f5f8fa;
$red: #ee3346;
$red1: #e92c39;